<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin</title>
</head>
<body>

	<p th:text="${user.name}"></p>
	
	
	<p>Player List</p>
	
	
	<table>
	
		<th>Id</th>
		<th>Player Name</th>
		
		
		
		<tr th:each="user: ${userList}">
			
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			
	
		</tr>
	
	</table>


	
	<br/>
	
	<p>Location List</p>
	
	<br/>
	
	<table>
	
		<th>Id</th>
		<th>Name</th>
		<th>Address</th>
		<th>Rent</th>
		<th>Rent Euro</th>
		
	
		<tr th:each= "location: ${locationList}">
			<td th:text="${location.id}"></td>
			<td th:text="${location.name}"></td>
			<td th:text="${location.address}"></td>
			<td th:text="${location.rent}"></td>
			<td th:text="${location.rentEUR}"></td>
			
		</tr>
	
	</table>
	
	<br/>
	
	
	<p>Add Player</p>
	
	
	<form action="/admin/regplayer" method="post">
	
		<input type="hidden" name="userid" th:value="${user.id}">
		<input type="text" name="name">
		<input type="submit" value="Save"> 
	
	
	</form>
	
	<p th:text="${feedbackRegPlayer}"></p>
	
	<br/>
	
	<p>Add Location</p>
	
	<form action="/admin/reglocation" method="post">
		
		<input type="hidden" name="userid" th:value="${user.id}">
		<input type="text" name="locationName" placeholder="locationName">
		<input type="text" name="address" placeholder="address">
		<input type="number" name="rent" placeholder="rent">
		<input type="submit" value="Save">
	
	</form>
	
	<p th:text="${feedbackRegLocation}"></p>
	
	<br/>
	
	<p>Add Game</p>
	
	<form action="/admin/reggame" method="post">
	
	<input type="hidden" name="userid" th:value="${user.id}">
	
	<label>User One Id</label>
	 	<select name="userOneId" >
	 	<option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.id}"></option>
	 	</select>
 	
 	<label>User Two Id</label>
	 	<select name="userTwoId" >
	 	<option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.id}"></option>
	 	</select>
		
		<input type="number" name="userOnePoints" placeholder="userOnePoint">
		<input type="number" name="userTwoPoints" placeholder="userTwoPoint">
		
	<label>Location Id</label>
	 	<select name="locationId" >
	 	<option th:each="location : ${locationList}" th:value="${location.id}" th:text="${location.id}"></option>
	 	</select>
		
		<input type="text" name="date" placeholder="date">
		<input type="submit" value="Save">
	
	</form>
	
	<p th:text="${feedbackRegGame}"></p>
	
	
	<br/>
	
	<form action="/logout" method="get">
	
		<input type="hidden" name="userid" th:value="${user.id}">
		<input type="submit" value="Logout">
	
	</form>
	
		
		<form action="/admin/export" method="get">
   
   		<input type="hidden" name="userid" th:value="${user.id}">
        <input type="submit" value="Export">

    </form>
    
    
    <form action="/admin/import" method="get">
    	
    	<input type="hidden" name="userid" th:value="${user.id}">
    	<input type="text" name="orderusers" placeholder="orderusers">
    	<input type="text" name="orderlocations" placeholder="orderlocations">
    	<input type="text" name="ordergames" placeholder="ordergames">
        <input type="submit" value="Import">
    
    </form>
    
    <p th:text="${feedbackExport}"></p>
    <p th:text="${feedbackImport}"></p>
	


</body>
</html>
